@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";
@source "@/app/property/[slug]/*";
@source "@/app/components/*";

:root {
  --spacing: 1px;
  --font-inter: Inter;
  --main-red: #99331A;
  --dark-orange: #842C16;
  --light-orange: #FFFBF9;
  --black: #0D0D0D;
  --white: #FFF;
  --light-grey: #F5F5F5;
  --dark-grey: #565656;
}

body {
  background: var(--light-orange);
  color: var(--black);
  font-family: var(--font-inter);
  font-weight: 500;
}

.checkbox-container {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
}

.checkbox-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 12px;
  width: 12px;
  border: 1px solid var(--dark-grey);
  margin-right: 10px;
}

.checkbox-container:hover input~.checkmark,
.checkbox-container input:checked~.checkmark {
  background-color: var(--black);
}

.input>div {
  border: none !important;
}