@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";
@source "@/app/property/[slug]/*";
@source "@/app/components/*";
@source "@/app/stories/*";

:root {
  --spacing: 1px;
  --font-inter: Inter;
  --main-red: #99331A;
  --dark-orange: #842C16;
  --light-orange: #FFFBF9;
  --black: #0D0D0D;
  --white: #FFF;
  --light-grey: #F5F5F5;
  --dark-grey: #565656;
  --error: red;
}

body {
  background: var(--light-orange);
  color: var(--black);
  font-family: var(--font-inter);
  font-weight: 500;
}

.checkbox-container:hover input:not(:disabled)~.checkmark,
.checkbox-container input:checked~.checkmark {
  background-color: var(--black);
}

.send-message .input>div {
  border: none !important;
}