@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";

:root {
  --spacing: 1px;
  --font-inter: Inter;
  --main-red: #99331A;
  --dark-orange: #842C16;
  --light-orange: #FFFBF9;
  --black: #0D0D0D;
  --white: #FFF;
  --light-grey: #F5F5F5;
  --dark-grey: #565656;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-inter);
  font-weight: 500;
}